 /* styles.css or tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


  .ull li {
    justify-content: space-between;
  }

  .dotPosition {
    position: relative;
    left: 22px;
    top: 7px;
  }

  .hover-nav-btn {
    @apply hover:bg-blue-500 transition-all p-2;
  }

