img.white-svg {
  filter: brightness(0) invert(1); /* Turns the SVG to white */
}


* {
  color: #000814;
}

footer * {
  color: white;
}

/* footer {
  color: inherit;
} */

  /* .ull li {
    justify-content: space-between;
  }

  .dotPosition {
    position: relative;
    left: 22px;
    top: 7px;
  }

  .hover-nav-btn {
    @apply hover:bg-blue-500 transition-all p-2;
  } */

