<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Потребителска страница</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% for message in messages %}
        <strong role="alert">Съобщение:</strong> {{ message }}
        {% endfor %}

        <h3 class="greeting">Здравейте, {{username}}!</h3>
        <p>имейл: {{email}}</p>
        <button type="submit"> <a href="/signout">SignOut</a></button>
    </body>
    </html>